@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
}

:root {
    /* --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef; */

    --bg-color: #ffffff;
    --second-bg-color: #01214A;
    --text-color: #01214A;
    --text-color2: #ffff;
    --main-color: #0ef;
}

html {
    font-size: 63.5%;
}

body {
    
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    overflow-x: hidden;

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img{
    width: 20rem;
}

.home {
    display: flex;
    align-items: center;
    background: url("./Assets/Página\ Matriz\ 01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    background: rgba(250,250,250,0.5);
    padding: 2rem;
    border-radius: 30px;
}

/* .home-img img {
    width: 30vw;
    margin: 0 1.5rem;
    animation: floatImage 4s ease-in-out infinite;
} */

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.6rem;
}

span {
    color: #609ed0;
}

.bolder {
    font-weight: bold;
    text-decoration: underline;
}


.home-content p {
    font-size: 1.5rem;
}

form{
	width: 40rem;
    margin: 4rem 0;
}


.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--text-color);
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: var(--text-color);
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}


.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.6rem;
	color: var(--text-color)
}

.input-div.pass{
	margin-bottom: 4px;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(250,250,250,0) inset;
}

.input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color)!important;
}


.btn {
    display: inline-block;
    width: 100%;
	height: 50px;
    padding: 1rem 2.8rem;
    background: #609ed0;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #609ed0;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    margin: 1.5rem 0;
    font-weight: 600;
    cursor: pointer;

}

.btn:hover {
    box-shadow: none;
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #609ed0;
    border-radius: 50%;
    font-size: 2rem;
    color: #609ed0;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #609ed0;
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem #609ed0;
}

.thanks {
    width: 400px;
    background: rgba(250,250,250,0.5);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: var(--text-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-thanks{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.thanks img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.thanks h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.thanks p {
    font-size: 15px;
}

.thanks button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
}

.about-img img {
    width: 30vw;
    position: relative;
    border-radius: 3rem;
    box-shadow: 0 0 6rem var(--text-color);
    overflow: hidden;
    display: flex;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    color: var(--bg-color);
}

.about-content h2 {
    text-align: 1.2;
}

.about-content p {
    font-size: 2rem;
    margin: 9rem 0 3rem;
}

.services {
    background: url(./Assets/backgroud\ Services.png);
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box img {
    width: 10vw;
    margin-bottom: 1rem;
}

.services-box .benefit-img2 {
    width: 12.39vw;
}


.services-box h3 {
    font-size: 2.6rem;
    color: #fff;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: #fff;
}

.portfolio {
    background: var(--second-bg-color);
}



.portfolio h2 {
    color: var(--bg-color);
}

.heading2 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}


.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer {
    background-color: rgba(255,255,255 ,0.5);
    background: opacity(0.5);
}

.portfolio-layer h4 {
    font-size: 3rem;
    color: var(--second-bg-color);
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--second-bg-color);
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--bg-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--text-color);
}


.labs{
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
}

.labs h2 {
    margin-bottom: 4rem;
}

.labs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.labs-container .labs-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
}

.labs-box img {
    width: 100%;
    transition: .5s ease;
}

.labs-box:hover img {
    transform: scale(1.1);
}

.labs-box .labs-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.labs-box:hover .labs-layer {
    transform: translateY(0);
}

.labs-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.labs-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: linear-gradient(var(--second-bg-color), var(--bg-color));
}

.footer h3 {
    font-size: 4rem;
    margin-bottom: .5rem;
    color: #fff;
}

.footer-text p {
    font-size: 1.6rem;
    color: #fff;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    margin-top: 2rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* Responsive */

@media (max-width: 1500px) {
    .home {
        background-position: unset;
    }

}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

   .footer {
    padding: 2rem 3%;
   } 
}

@media (max-width: 768px) {

    .home-content {
        margin-right: 1rem;
    }


    /* .home {
        flex-direction: column;
    } */

    .home-content h1 {
        font-size: 5rem;
    }

    /* .home-img img {
        width: 70vw;
        margin: 4rem;
    } */

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 100%;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .labs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {


    .services-box img {
        width: 30%;
    }

    .services-box .benefit-img2 {
        width: 29%;
    }

    .portfolio-container {
        grid-template-columns: 1fr;
    }

    .labs-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
    
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
    }

}

